{:deps {com.garmin/fit {:mvn/version "21.176.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases {:clerk {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.18.1158"}}
                   :exec-fn nextjournal.clerk/serve!
                   :exec-args {:watch-paths ["src"]
                               :browse true}}}}
